@page
@model IndexModel
@{
    ViewData["Title"] = "TechOil";
}

<div class="text-center">
    <h1 class="display-4">¡Bienvenido/a!</h1>
    <p>Sector de autogestion de horas de servicios de TechOilActive</p>
</div>


